:root {
  --bgColor: rgba(60, 60, 60, 1);
  --bgSecondary: rgba(20, 20, 20, 0.6);
  --bgHover: rgba(0, 0, 0, .8);
  --fontColor: #fff;
  --width: 100%;
  --height: 100%;
}

progress {
  --progress-left: 0;
  --progress-top: 10px
}

figure {
	max-width:100%;
	max-height:100%;
	margin:0 auto;
	margin:0;
  width: var(--width);
  height: var(--height);
}

video {
  width: 100%;
  height: auto;
}

figure#video-container video {
  background-color: transparent;
  border: none;
  width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}

#video-overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1
}

/* controls */
.controls, .controls li {
	padding:0 5px;
	margin:0;
  color: var(--fontColor);
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
	list-style-type:none;
	background: var(--bgColor);
  height: 25px;
  color: var(--fontColor);
  font-size: 12px;
  padding: 0 10px;
  margin-top: -4px;
  z-index:2;
}
.controls li {
	float:left;
	margin-left:0.3%;
  cursor: pointer;
}

.controls li {

}

.controls button, .controls time {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  fill: white;
}

.stop {
  display: none;
}

.controls .progress {
  position: relative;
	width:100%;
	cursor:pointer;
}

.controls button {
	width:100%;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
  text-overflow:ellipsis;
  background-color: transparent;
  border: none;
  color: var(--fontColor);
  cursor:pointer;
}
.controls progress {
	display:block;
	width:100%;
	height:20px;
	height:1.1rem;
  padding: 0.5rem 0;
	margin-top:2px;
	margin-top:0.125rem;
	overflow:hidden;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.controls progress::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 6px !important;
  height: 6px !important;
  top: 50%;
  top: var(--progress-top);
  left: var(--progress-left);
  transform: translateY(-45%);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 4px white;
}

progress::-webkit-progress-value {
  background: white;
}

.mute {
  position: relative;
}

#progress-volume-bar {
  position: absolute;
  width: 30px;
  height: 100px;
  bottom: 20.5px;
  padding: 0;
  background: var(--bgSecondary);
  z-index:1;
}

.mute progress {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;;
}

.mute progress::before {
  position: absolute;
  top: var(--progress-top);
  left: 50%;
  transform: translateX(-55%);
}

#settings #settings-container{
  position: absolute;
  bottom: 25px;
  right: 0;
  background-color: var(--bgSecondary);
  display: flex;
  flex-direction: column;
  right: 0;
  width: 18%;
}

#settings-container p {
  margin: 5%;
}

#settings-container div {
  border-bottom: 1px solid rgba(255, 255, 255, .15)
}

#settings div ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#settings p {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

#settings div ul li {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 25%;
  letter-spacing: 1.5px;
}

#settings div ul li:hover {
  background-color: var(--bgHover);
}

/* fullscreen */
html:-ms-fullscreen {
	width:100%;
}
:-webkit-full-screen {
	background-color:transparent;
}
/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
	display:none !important;
}
figure[data-fullscreen=true] {
	max-width:100%;
	width:100%;
	margin:0;
	padding:0;
}
figure[data-fullscreen=true] video {
	height:auto;
}
figure[data-fullscreen=true] figcaption {
	display:none;
}
figure[data-fullscreen=true] .controls {
	position:absolute;
	bottom:2%;
	width:100%;
	z-index:2147483647;
}
figure[data-fullscreen=true] .controls li {
	width:5%;
}
figure[data-fullscreen=true] .controls .progress {
	width:68%;
}
